.tableHead {
  padding-left: 70px;
  padding-right: 70px;
}

.tableDate {
  padding-top: 50px;
  padding-bottom: 50px;
}

.tableDateLast {
  padding-top: 50px;
  padding-bottom: 50px;
}

.reservationBlock {
  background-color:rgb(255, 255, 255);
  border-left-color: rgb(204,204,204);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(204,204,204);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(204,204,204);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: rgb(204,204,204);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-align: center;
  padding: 0px;
  font-style: normal;
}

.reservedBlock {
  background-color: rgb(241, 9, 9);
}

.courtBlock {
  display: flex;
  flex-direction: column;
  
}
